name: Sync Leetcode

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 6"

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install leetcode-cli
        run: npm install -g leetcode-cli

      - name: Configure LeetCode CLI
        run: |
          leetcode user -l https://leetcode.com \
            -u ${{ secrets.LEETCODESESSION }}

      - name: Fetch submissions
        run: |
          leetcode list
